@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-500: #af7e70;

  --color-secondary-500: #3e2c27;
  --color-secondary-600: #2d1f1a;

  --color-tertiary-400: #ff4d41;
  --color-tertiary-500: #ff5500;

  --color-noir-700: #131313;

  --font-one: "Didact_Gothic", sans-serif;
  --font-two: "Exo_2", sans-serif;
  --font-three: "Montserrat_Alternates", sans-serif;

  /* Définition de l'animation */
  --animation-duration: 40s;
  --animation-direction: forwards;
}
